    <section class="ph3 pv4 bg-light-gray">
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-l ph2">
          <img class="mb4 mb0-l" src="https://jnkly.github.io/rmbc-dev/images/carousel-sample.jpg">
        </div>
        <div class="fl w-100 w-50-l ph2">
          <input checked class="events-news--input" id="tab-events" name="events-news--tabs" type="radio"> <label class="events-news--label" for="tab-events">What's on</label> <input class="events-news--input" id="tab-news" name="events-news--tabs" type="radio"> <label class="events-news--label" for="tab-news">News</label>
          <div class="events-news cf pt2 pb3">
            <div id="events">
              <ul class="ma1 ph2">
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">
                    8 July 2017
                  </p>
                  <p class="f5 mt1">
                    <a class="link white dim" href="http://www.rotherham.gov.uk/events">Rotherham Mela</a>
                  </p>
                </li>
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">
                    7 July 2017
                  </p>
                  <p class="f5 mt1">
                    <a class="link white dim" href="http://www.rotherham.gov.uk/events">Lunchtime Recitals at Riverside</a>
                  </p>
                </li>
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">
                    1 August 2017
                  </p>
                  <p class="f5 mt1">
                    <a class="link white dim" href="http://www.rotherham.gov.uk/events">Going on a Bear Hunt</a>
                  </p>
                </li>
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">
                    21 October 2017
                  </p>
                  <p class="f5 mt1">
                    <a class="link white dim" href="http://www.rotherham.gov.uk/events">Rotherham Oktoberfest</a>
                  </p>
                </li>
              </ul>
              <div class="cf ph2 tc">
                <a class="dib ph3 pv2 mt3 bg-white dark-gray link dim" href="http://www.rotherham.gov.uk/events">View all events</a>
              </div>
            </div>
            <div id="news">
              <div class="ma1 ph2" style="margin-left: 2em">
                <div class="cf">
                  <ul>
                    <li class="list fl w-100 w-50-l ph1">
                      <p class="f7 light-silver mb0">
                        5 July 2017
                      </p>
                      <p class="f5 mt1">
                        <a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Smoking declining in Rotherham but more can be done</a>
                      </p>
                    </li>
                    <li class="list fl w-100 w-50-l ph1">
                      <p class="f7 light-silver mb0">
                        5 July 2017
                      </p>
                      <p class="f5 mt1">
                        <a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Commissioners&rsquo; latest letter to the Secretary of State</a>
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="cf">
                  <ul>
                    <li class="list fl w-100 w-50-l ph1">
                      <p class="f7 light-silver mb0">
                        4 July 2017
                      </p>
                      <p class="f5 mt1">
                        <a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Electoral view on Rotherham - Consultation on ward boundaries</a>
                      </p>
                    </li>
                    <li class="list fl w-100 w-50-l ph1">
                      <p class="f7 light-silver mb0">
                        3 July 2017
                      </p>
                      <p class="f5 mt1">
                        <a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Schools&rsquo; celebration for supporting children with additional needs</a>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="cf ph2 tc">
                <a class="dib ph3 pv2 mt3 bg-white dark-gray link dim" href="http://www.rotherham.gov.uk/newsroom">View all news</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
