    <header class="pv0 ph3 dt w-100 bg-near-black">
      <div class="mw8 center">
        <a class="db fl pv3 white link dim" href="{{site.baseurl}}/" title="Home"><img class="db dn-m dn-l" src="https://jnkly.github.io/rmbc-dev//images/rmbc-logo-white.svg"> <img class="dn db-m db-l" src="https://jnkly.github.io/rmbc-dev//images/rotherham-gov-uk-white.svg"></a> <a class="db fr pv2 ph3 mt3 tr white link bg-mid-gray f6 f5-m f5-l hover-bg-green" href="{{site.baseurl}}/sign-in" title="Sign in">Sign in</a>
      </div>
    </header>
