<section class="ph3 ph5-ns pv3 bg-moon-gray">
      <form class="mw7 center">
        <fieldset class="bn ma0 pa0"> 
          <div class="cf">
            <input placeholder="Find information, advice and more" type="text" name="Search query" value="" class="w-70 w-70-ns w-70-m w-80-l f6 f5-l input-reset fl black-80 bg-white pa3 lh-solid bn bl br2 br--left">
            <input type="text" value="Search" class="w-30 w-30-ns w-30-m w-20-l f6 f5-l button-reset fl tc lh-solid bg-animate bg-black-70 ph2 pv3 hover-bg-black white pointer bn br2 br--right">
          </div>
        </fieldset>
      </form>
</section>