<section class="pa2 pa3-m pa3-l bg-moon-gray">
  <form class="mw6 center">
    <fieldset class="bn ma0 pa0"> 
      <div class="cf flex">
        <input placeholder="Find information, advice and more" type="text" name="Search query" value="" class="w-70 w-80-l f6 input-reset fl black-80 bg-white ph2 pv3 lh-solid bn br0">
        <input type="button" value="Search" class="w-30 w-20-l f6 button-reset fl tc lh-solid ph2 pv3 white bn br0 bg-near-black hover-bg-green">
      </div>
    </fieldset>
  </form>
</section>
