    <section class="pa3">
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
          <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Jobs and careers</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
        </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Housing</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Environment and waste</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Council tax and benefits</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Planning and development</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Leisure and culture</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Transport and streets</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">About the council</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Health and social care</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Children and families</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Business and economy</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Education and learning</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
          </div>
      </div>
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Community and living</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">Seasonal</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">More</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green">A-Z Services</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </section>
