<section class="pa3">
    <div class="cf mw8 center">
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/jobs">Jobs and careers</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/housing">Housing</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/environment">Environment and waste</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/benefits">Council tax and benefits</a>
      </div>
    </div>
    <div class="cf mw8 center">
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/planning">Planning and development</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/leisure">Leisure and culture</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/transport">Transport and streets</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/council">About the council</a>
      </div>
    </div>
    <div class="cf mw8 center">
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/social-care">Health and social care</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/children">Children and families</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/business">Business and economy</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/education">Education and learning</a>
      </div>
    </div>
    <div class="cf mw8 center">
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/community">Community and living</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/seasonal">Seasonal</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/more">More</a>
      </div>
      <div class="fl w-100 w-50-m w-25-l">
        <a class="db bg-black-05 ph3 pv2 pa3-m pa3-l f6 f5-m f5-l near-black no-underline hover dim ma1 ma2-l" href="{{site.baseurl}}/a-z">A-Z Services</a>
      </div>
    </div>
  </section>
