    <section class="pa3">
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-jobs.svg" class="dib v-mid mr2">Jobs and careers</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-housing.svg" class="dib v-mid mr2">Housing</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-environment.svg" class="dib v-mid mr2">Environment and waste</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-benefits.svg" class="dib v-mid mr2">Council tax and benefits</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-planning.svg" class="dib v-mid mr2">Planning and development</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-leisure.svg" class="dib v-mid mr2">Leisure and culture</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-transport.svg" class="dib v-mid mr2">Transport and streets</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green">
              <img src="{{site.baseurl}}/images/icon-council.svg" class="dib v-mid mr2">About the council</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-socialcare.svg" class="dib v-mid mr2">Health and social care</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-children.svg" class="dib v-mid mr2">Children and families</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-business.svg" class="dib v-mid mr2">Business and economy</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-education.svg" class="dib v-mid mr2">Education and learning</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw8 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-community.svg" class="dib v-mid mr2">Community and living</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-seasonal.svg" class="dib v-mid mr2">Seasonal</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-your-area.svg" class="dib v-mid mr2">Your area</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-az.svg" class="dib v-mid mr2">A-Z Services</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 1</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 2</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Link 3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
