<section id="social" class="pa2 ph5-m ph6-l bg-dark-gray white">
  <div class="mw8 center mv3">
    <div class="db dib-m dib-l tc">
      <p class="dib mr3"><a href="#" title="Facebook" class="dib link white dim"><img src="https://icon.now.sh/facebook/32/ffffff"/></a></p>
      <p class="dib mr3"><a href="#" title="Instagram" class="dib link white dim"><img src="https://icon.now.sh/instagram/32/ffffff"/></a></p>
      <p class="dib mr3"><a href="#" title="Google Plus" class="dib link white dim"><img src="https://icon.now.sh/googleplus/32/ffffff"/></a></p>
      <p class="dib mr3"><a href="#" title="Twitter" class="dib link white dim"><img src="https://icon.now.sh/twitter/32/ffffff"/></a></p>
      <p class="dib mr3"><a href="#" title="RSS" class="dib link white dim"><img src="https://icon.now.sh/rss/32/ffffff"/></a></p>
    </div>
      
    <div class="db dib-m dib-l tc fr-m fr-l">
      <a class="f5 no-underline dib v-mid white pa3 mv2 bg-near-black hover-bg-green" href="">Sign up for email updates</a>
    </div>
  </div>
</section>
