<section class="pa3">
    <div class="cf mw8 center">
      <input checked class="top-task--input" id="tab1" name="tabs" type="radio"> <label class="top-task--label" for="tab1">Resident</label> <input class="top-task--input" id="tab2" name="tabs" type="radio"> <label class="top-task--label" for="tab2">Business</label> <input class="top-task--input" id="tab3" name="tabs" type="radio"> <label class="top-task--label" for="tab3">Visiting</label>
      <div class="top-task cf pa2">
        <div id="resident">
          <ul class="ma0 pa0">
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Pay your council tax</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Request a housing repair</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Pay your rent</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Tell us you've moved</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Single person discount</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Register a birth</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">When is my bin day</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Pay an invoice</a>
            </li>
          </ul>
        </div>
        <div id="business">
          <ul class="ma0 pa0">
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Pay business rates</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Apply for business rates discount</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Tell us your business is moving or changing</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Invest in Rotherham</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Landlord services</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Planning applications</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Business waste</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Supply to the council</a>
            </li>
          </ul>
        </div>
        <div id="visiting">
          <ul class="ma0 pa0">
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Getting here</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Car parks</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Parks and green spaces</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Tourism and things to do</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Rotherham Show</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Sports centres</a>
            </li>
            <li class="mb2 list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Clifton Park and Museum</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="db pa2 mh1 bg-gray white no-underline dim" href="#">Boston Castle</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
