  <section class="pa3">
    <div class="cf mw8 center">
      <input checked class="top-task--input" id="tab-resident" name="top-task--tabs" type="radio"> <label class="top-task--label" for="tab-resident">Resident</label> <input class="top-task--input" id="tab-business" name="top-task--tabs" type="radio"> <label class="top-task--label" for="tab-business">Business</label> <input class="top-task--input" id="tab-visiting" name="top-task--tabs" type="radio"> <label class="top-task--label" for="tab-visiting">Visiting</label>
      <div class="top-task cf pv2">
        <div id="resident">
          <ul class="ma1 ph2">
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Pay your council tax</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Request a housing repair</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Pay your rent</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Tell us you've moved</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Single person discount</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Register a birth</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">When is my bin day</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Pay an invoice</a>
            </li>
          </ul>
        </div>
        <div id="business">
          <ul class="ma1 ph2">
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Pay business rates</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Apply for business rates discount</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Tell us your business is moving</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Invest in Rotherham</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Landlord services</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Planning applications</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Business waste</a>
            </li>
            <li class="list fl w-100 w-50-m w-third-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Supply to the council</a>
            </li>
          </ul>
        </div>
        <div id="visiting">
          <ul class="ma1 ph2">
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Getting here</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Car parks</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Parks and green spaces</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Tourism and things to do</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Rotherham Show</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Sports centres</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Clifton Park and Museum</a>
            </li>
            <li class="list fl w-100 w-50-m w-25-l">
              <a class="ma2 db f6 f5-m f5-l ph3 pv2 pa3-m pa3-l bg-gray white no-underline dim" href="#">Boston Castle</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
