.top-task {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.top-task > div {
  display: none;
}

.top-task--input {
  display: none;
}

.top-task--label {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
  background-color: #ffffff;
}

.top-task--label:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.top-task--input:checked + .top-task--label {
  background: #333333;
  color: #ffffff;
}

#tab-resident:checked ~ .top-task #resident,
#tab-business:checked ~ .top-task #business,
#tab-visiting:checked ~ .top-task #visiting {
  display: block;
}



.intro {
  background-image: url(https://jnkly.github.io/rmbc-dev/images/rotherham-parks.jpg);
  background-position: center;
  background-size: cover;
}



.events-news {
  background: #333333;
  display: block;
}

.events-news > div {
  display: none;
}

.events-news--input {
  display: none;
}

.events-news--label {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.events-news--label:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.events-news--input:checked + .events-news--label {
  background: #333333;
  color: #ffffff;
}

#tab-events:checked ~ .events-news #events,
#tab-news:checked ~ .events-news #news {
  display: block;
}

.form-tabs {
  background: #333333;
  display: block;
}

.form-tabs > div {
  display: none;
}

.form-tabs--input {
  display: none;
}

.form-tabs--label {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.form-tabs--label:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.form-tabs--input:checked + .form-tabs--label {
  background: #333333;
  color: #ffffff;
}

#tab-instructions:checked ~ .form-tabs #instructions,
#tab-more:checked ~ .form-tabs #more,
#tab-agreement:checked ~ .form-tabs #agreement {
  display: block;
}

